{% extends "base.html" %}

{% block index %}
<br>
<b>Working principles:</b>
<ol type="1">
    <li>The calculation is iterative, meaning it will always calculate the cheapest way to go from skill 'x' to 'x+1'</li>
    <li>If you allow Green or Yellow crafts, it calculates using an average cost per skill-up. YMMV</li>
    <li>
        Only the cost of purchasing reagents are considered when determining the cheapest skillup,
        i.e. the price to learn the skill from the trainer or purchase the recipe isn't included
        (uses undiscounted vendor price for items available from vendors)
    </li>
    <li>The algorithm terminates if there aren't any available crafts for the current skill level. This means if the listed guide doesn't reach to the target level you entered you probably need to include another source for there to be a solution</li>
    <li>If you need e.g. Bolt of Runecloth for a craft it'll check the price for both Runecloth and Bolt of Runecloth and add the option that's cheaper to the shopping list</li>
    <li>If an item's cost is unavailable because it hasn't been seen on the Auction House it will be listed as having zero cost.</li>
</ol>

{% endblock %}