{% extends "base.html" %}

{% block index %}
    <b>Working principles:</b>
    <ol type="1">
        <li>Only crafts with guaranteed skillup is considered</li>
        <li>The calculation is iterative, meaning it will always calculate the cheapest way to go from skill 'x' to 'x+1'</li>
        <li>Only the cost of purchasing reagents is considered when determining the cheapest skillup, i.e. the price to learn the skill from the trainer or purchase the recipe isn't included</li>
    </ol>

{% endblock %}